@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/css?family=Oswald')
html, body{
  height:100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar{
  padding:.2rem;
}
.navbar-nav li{
  padding-right:20px;
}
.nav-link{
  font-size: 1.1em !important;
}

.resumebtn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #D5D5D5;
  color: #D5D5D5;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1em 3em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.resumebtn:hover, .resumebtn:focus {
  color: #fff;
  outline: 0;
}

.resumebtn2 {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1em 3em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.resumebtn2:hover, .resumebtn2:focus {
  color: #1e1e1e;
  outline: 0;
  box-shadow: 0 0 40px 40px #1e1e1e inset;
  color: #d5d5d5;
  outline: 0;
}

.footer-resumebtn {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.footer-resumebtn:hover {
  box-shadow: 0 0 40px 40px #D5D5D5 inset;
  color: #1e1e1e;
  outline: 0;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption{
  position: absolute;
  top: 35%;
  transform: translateY(-100%);
  transform: translateX(+30%);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #100;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary{
  background-color: #228B22;
  border: 1px solid #228B22;
}

.imgmiddle{
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.btn-primary:hover{
  background-color: #006400;
  border: 1px solid #006400;
}
.footerbtn{
  border-radius: 3px;
  border: solid #000 1px;
  padding-left: 100px;
  padding-right:100px;
  background-color: #D5D5D5;
}
.submitbtn{
  position:center;
  width:15%;
}
.footerbtn:hover{
  background-color: #fff;
}
#uwlogo{
  height: 100%;
  width: 50%;
}
.contact-btn{
  border-radius: 3px;
  border: solid #000 1px;
  padding-left: 80px;
  padding-right:80px;
  margin-bottom: 20px;
}
.contact-btn:hover{
  background-color: #006400;
  border: 1px solid #006400;
}
.gitbtn{
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 20px;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em 0.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.gitbtn:hover, .gitbtn:focus{
  color: #1e1e1e;
  outline: 0;
  box-shadow: 0 0 40px 40px #1e1e1e inset;
  color: #d5d5d5;
  outline: 0;
}
#contactbtn1{
  color: #000000;
  background-color: #F0F0F0;
}
#contactbtn2{
  background-color: #228B22;
}
.contact-nav{
  text-align: center;
}
.contact-form{
  text-align: center;
}
.text-button{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #228B22;
  font-size: 135%;
  padding: 8px 60px;
  border: solid #000 2px;
  text-decoration: none;
}
#textbox1, #textbox2, #textbox3{
  animation-delay: .3s;
}
#work1, #work2{
  animation-duration: 2s;
}
.fa-edit,.fa-star,.fa-wrench{
  font-size: 2rem;
}
.card{
  border: 2px solid #008000;
}
.about-card-title{
  color: #008000;
}
.padding {
  padding-bottom: 2rem;
}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #008000;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.devicon-python-plain{
  font-size: 5rem;
}
.devicon-java-plain{
  font-size: 5rem;
}
.devicon-c-plain-wordmark{
  font-size: 5rem;
}
.devicon-html5-plain{
  font-size: 5rem;
}
.devicon-css3-plain{
  font-size: 5rem;
}
.devicon-javascript-plain{
  font-size: 5rem;
}
.devicon-mysql-plain{
  font-size: 5rem;
}
.devicon-bootstrap-plain{
  font-size: 5rem;
}
.deviconsize{
  height: 50px;
  width: 20px;
}
.devicon-react-original{
  font-size: 5rem;
}
.devicon-python-plain, .devicon-mongodb-plain, .devicon-java-plain, .devicon-nodejs-plain, .devicon-c-plain-wordmark, .devicon-angularjs-plain, .devicon-html5-plain, .devicon-css3-plain, .devicon-javascript-plain, .devicon-mysql-plain, .devicon-bootstrap-plain, .devicon-react-original{
  font-size: 4em;
  margin: 1rem;
}
.fa-github, .fa-linkedin, .fa-facebook-square, .fa-instagram{
  font-size:2.5em;
  margin: 2rem;
}
#contact-social-button1,#contact-social-button2,#contact-social-button3,#contact-social-button4{
  font-size:4em;
  margin: 1rem;
}
#contact-social-button1{
  color: #000;
}
#contact-social-button2{
  color: #0573A6;
}
#contact-social-button3{
  color: #A43F7D;
}
#contact-social-button4{
  color: #4166BC;
}
#contact-social-button1:hover{
  color: #69706B;
}
#contact-social-button2:hover{
  color: #5063f4;
}
#contact-social-button3:hover{
  color: #aa77b2;
}
#contact-social-button4:hover{
  color: #495ad8;
}
.contact-header{
  background: url(img/contact_header.jpg) no-repeat;
  background-size: cover;
  background: filter: brightness(150%);
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.work-exp-header{
  background: url(img/work_exp_header.jpg) no-repeat;
  background-size: cover;
  position: center;
  background: filter: brightness(150%);
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.academic-header{
  background: url(img/academic_cover.jpg) no-repeat;
  background-size: cover;
  position: center;
  background: filter: brightness(150%);
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.projects-header{
  background: url(img/projects_cover.jpg) no-repeat;
  background-size: cover;
  position: center;
  background: filter: brightness(150%);
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.conservation-header{
  background: url(img/Conservation_Cover.jpg) no-repeat;
  background-size: cover;
  position: center;
  background: filter: brightness(150%);
  padding-top: 5rem;
  padding-bottom: 6rem;
}
.work-exp-button{
  border-radius: 5px;
  border: solid #000 1px;
  padding-left: 100px;
  padding-right:100px;
}
#contact-basic-info{
  text-align: left; 
  margin-top: 2em;
  transform: translateX(20%);
}
.fa-github:hover, .fa-linkedin:hover, .fa-facebook-square:hover{
  color: #fff;
}
#ins-icon-small{
  color: #D5D5D5;
}
#ins-icon-small:hover{
  color: #fff;
}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  max-width: 100%;
}
.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g{
  color: #dd4b39;
}
.fa-instagram{
  color: #517fa4;
}
.fa-youtube{
  color: #bb0000;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover{
  color: #d5d5d5;
}

footer{
  background-color: #1E1E1E;
  color: #d5d5d5;
  padding-top: 2rem;
  background-size: cover;
  background: filter: brightness(50%);
}
footer::before {
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    filter: contrast(50%);
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a{
  color: #d5d5d5;
}
footer a:hover{
  color:white;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*---Media Queries --*/
@media screen and (max-width: 3000px) {
  img.mylogo{
    height: 110px;
  }
}
@media screen and (max-width: 1150px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  .contact-submit{
    transform: translateX(150%);
  }
  img.mylogo{
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption{
  top: 45%;
  }
  .carousel-caption h1{
    font-size: 350%;
  }
  .carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4, .display-3{
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding:1.2rem;
  }
  img.mylogo{
    height: 70px;
  }
}
@media screen and (max-width: 576px) {
  .carousel-caption{
  top: 25%;
  }
  img.mylogo{
    height: 40px;
  }
  .carousel-caption h1{
    font-size: 200%;
  }
  .navbar-brand img{
    height: 60%;
    width: 60%;
  }
  .carousel-caption h3{
    font-size: 65%;
  }
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators{
    display:none;
  }
  .display-4{
    font-size: 160%;
  }
  .display-3{
    font-size: 350%;
  }
  .social a{
    font-size: 2em;
    padding:.7rem;
  }
  #uwlogo{
    height:110%;
    width: 90%;
  }
  .submitbtn{
  position:center;
  width:25%;
}
  .projectunit{
    transform: translateX(-10%);
  }
  @media screen {
    .carousel-caption{
    top: 25%;
    }
    img.mylogo{
      width: 100px;
    }
  }
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








