@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
  height:100%;
  width: 100%;
  margin: 0;
  padding:0;
  
}

.landing_intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(img/Landing4.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.landing_intro.inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 500%;
  margin:0 auto;
  text-align: center;
}
.content h1{
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%
}
.content h3{
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 200%
}
.btn{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 135%;
  padding: 10px 90px;
  border: solid #fff 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover{
  color: #4B0082  ;
  background-color: #E6E6FA;
  border: solid #4B0082 3px;
}
.@media screen and (max-width: 768px){
  .content h1{
    font-size: 250%;
  }
  .btn{
    font-size: 110%;
    padding: 7px 15px;
  }
}
@media (max-width: 576px) {
  #btnTrigger{
    padding-left: 150px;
    padding-right: 150px;
  }
}




